@{
    ViewData["Title"] = "Login Success";
}

<div class="mt-5 p-4 bg-white mx-auto rounded shadow">
    <h2 class="text-success text-center fw-semibold">Login Successful!</h2>

    <p class="mt-3 text-center fs-5">
        Welcome back! You are now logged in and ready to begin your session.
    </p>

    <div class="mt-4 text-center">
        <a href="/Game" class="text-primary text-decoration-underline">Go to Start Game</a>
    </div>
</div>
