@{
	ViewData["Title"] = "Account Page";
}

<h2>Account Page</h2>

@if (Context.Session.GetString("User") != null)
{
	<p>Welcome to your account page, @Html.Raw(Context.Session.GetString("User"))!</p>
	<p>This is a placeholder account page where users can view and manage their account details.</p>
    <form asp-action="Logout" asp-controller="User" method="post" class="mt-4">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
}
else
{
	<p>You are not logged in.</p>
}